@model MvcTesting.ViewModels.UserIndexViewModel

<h1>User Index</h1>
<hr />

<ul>

    @foreach (var user in Model.Users)
    {
        <li>
            <label for="@user.UserName">
                <a asp-controller="Users" asp-action="DisplayUser" asp-route-username="@user.UserName">@user.UserName</a>
            </label>
        </li>
    }

</ul>

<p><a asp-controller="Users" asp-action="Index" asp-route-sortBy="Updated" asp-route-descending="true">Sort by Most Recent</a></p>
<p><a asp-controller="Users" asp-action="Index" asp-route-sortBy="UserName">Sort by Username</a></p>
<p><a asp-controller="Users" asp-action="Index" asp-route-sortBy="Updated">Sort by Leasst Recent</a></p>
<p><a asp-controller="Users" asp-action="Index" asp-route-sortBy="UserName" asp-route-descending="true">Sort by Username - Descending</a></p>

