@model MvcTesting.ViewModels.UserIndexViewModel

<h1>User Index</h1>
<hr />

<ul>

    @foreach (var user in Model.Users)
    {
        <li>
            <label for="@user.UserName">
                <a asp-controller="Users" asp-action="DisplayUser" asp-route-username="@user.UserName">@user.UserName</a>
            </label>
        </li>
    }

</ul>