@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>MovievLot allows users to keep track of their movie collections storing data such as media format, audio format, runtime, aspect ratio, genres, as well as poster and trailer information.  Users can share their collections with others as well.  This application is designed for the home theater enthusiast to help manage their collection and to have a reference for what settings are most appropriate for a title they wish to watch.</p>
