@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    
    Olathe, KS 66062<br />
    <abbr title="Phone">P:</abbr>
    816-518-1383
</address>

<address>
    <strong>Support:</strong> <a href="mailto:kevinicus37@gmail.com">kevinicus37@gmail.com</a><br />
</address>
