@model MvcTesting.ViewModels.AddMovieViewModel
@using System.Text;

<h1>Add Movie</h1>

@Html.Partial("_ValidationSUmmary")

<form class="form-group" asp-controller="Movie" asp-action="Add" method="post">
    <label asp-for="Name"></label>
    <input class="form-control" type="text" asp-for="Name" />
    <span asp-validation-for="Name"></span>

    <label asp-for="Year"></label>
    <input class="form-control" type="text" asp-for="Year" />
    <span asp-validation-for="Year"></span>

    <label asp-for="MediaID"></label>
    <select class="form-control" asp-for="MediaID" asp-items="Model.MediaFormats"></select>
    <span asp-validation-for="MediaID"></span>

    <label asp-for="AudioID"></label>
    <select class="form-control"asp-for="AudioID" asp-items="Model.AudioFormats"></select>
    <span asp-validation-for="AudioID"></span>

    <label asp-for="AspectRatio"></label>
    <input class="form-control" type="text" asp-for="AspectRatio" />
    <span asp-validation-for="AspectRatio"></span>

    <label asp-for="Comments"></label>
    <textarea class="form-control" asp-for="Comments"></textarea>
    <span asp-validation-for="Comments"></span>

    <label asp-for="Rating"></label>
    <select class="form-control" asp-for="Rating" asp-items="Model.Ratings"></select>
    <span asp-validation-for="Rating"></span>

    <label asp-for="Overview"></label>
    <input class="form-control" type="text" asp-for="Overview" />
    <span asp-validation-for="Overview"></span>

    <label asp-for="TrailerUrl"></label>
    <input class="form-control" type="text" asp-for="TrailerUrl" />
    <span asp-validation-for="TrailerUrl"></span>

    <label asp-for="PosterUrl"></label>
    <input class="form-control" type="text" asp-for="PosterUrl" />
    <span asp-validation-for="PosterUrl"></span>

    <label asp-for="Has3D"></label>
    <input type="checkbox" asp-for="Has3D" />
    <br />
        
    <label asp-for="Directors"></label>
    <textarea class="form-control" asp-for="Directors"></textarea>
    <span asp-validation-for="Directors"></span>

    <label asp-for="Cast"></label>
    <textarea class="form-control" asp-for="Cast"></textarea>
    <span asp-validation-for="Cast"></span>

    <h3>Genres</h3>
    <label>Action</label>
    <input type="checkbox" name="Genres" value="action" />

    <label>Drama</label>
    <input type="checkbox" name="Genres" value="drama" />

    <br />    <input class="btn btn-primary" type="submit" value="Add Movie to Collection" />
</form>
