@model MvcTesting.ViewModels.AddMovieViewModel
@using System.Text;

<h1>Add Movie</h1>

@Html.Partial("_ValidationSUmmary")

<form class="form-horizontal" style="width:100%" asp-controller="Movie" asp-action="Add" method="post">
    <div class="form-group">
        @Html.Partial("_MovieDataEntryPartial")
        <br />
        <input class="btn btn-primary" type="submit" value="Add Movie to Collection" />
    </div>
</form>
