@model MvcTesting.ViewModels.EditMovieViewModel
@using System.Text;

<h1>Edit Movie</h1>

@Html.Partial("_ValidationSUmmary")

<form class="form-group" asp-controller="Movie" asp-action="Edit" method="post">
    @Html.Partial("_MovieDataEntryPartial")
    <input type="hidden" asp-for="ID" />
    <br />    
    <input class="btn btn-primary" type="submit" value="Save Movie" />
</form>