<h1>Movie Search</h1>
<form asp-controller="Movie" asp-action="Search" method="post">
    <input type="text" name="query" />
    <button class="btn btn-primary" type="submit">Search for Movie</button>
</form>