@model List<MvcTesting.Models.Film>

<h1>Films</h1>
<hr />
@if (Model.Count == 0)
{
    <p>No films yet!</p>

}

@foreach (var film in Model)
{
    <p><a asp-controller="Movie" asp-action="ViewMovie" asp-route-id="@film.ID">@film.Name (@film.Year)</a></p>

}
