@model ViewMovieViewModel

<div class="row">
    @Html.Partial("_MainFilmInfoPartial")
    @Html.Partial("_SecondaryFilmInfoPartial")
</div>
<br />

@if (UserManager.GetUserId(User) == Model.Film.UserID || User.IsInRole("Admin"))
{
    <form asp-controller="Movie" asp-action="Remove" method="post">
        <input type="hidden" name="filmIds" value="@Model.Film.ID" />
        <button type="submit" class="btn btn-danger">Delete this Movie</button>
    </form>
}