<h1>Movie Search (Using TMDb)</h1>
<form asp-controller="Movie" asp-action="WebSearch" method="post">
    <input type="text" name="query" />
    <input type="hidden" name="page" value="1" />
    <button class="btn btn-primary" type="submit">Search for Movie</button>
</form>