@model MvcTesting.ViewModels.AddMovieViewModel

<label class="control-label" asp-for="Name"></label>
<input class="form-control" type="text" asp-for="Name" />
<span asp-validation-for="Name"></span>

<label class="control-label" asp-for="Year"></label>
<input class="form-control" type="text" asp-for="Year" />
<span asp-validation-for="Year"></span>

<label class="control-label" asp-for="Runtime"></label>
<input class="form-control" type="text" asp-for="Runtime" />
<span asp-validation-for="Runtime"></span>

<label class="control-label" asp-for="MediaID"></label>
<select class="form-control" asp-for="MediaID" asp-items="Model.MediaFormats"></select>
<span asp-validation-for="MediaID"></span>

<label class="control-label" asp-for="AudioID"></label>
<select class="form-control" asp-for="AudioID" asp-items="Model.AudioFormats"></select>
<span asp-validation-for="AudioID"></span>

<label class="control-label" asp-for="AspectRatio"></label>
<input class="form-control" type="text" asp-for="AspectRatio" />
<span asp-validation-for="AspectRatio"></span>

<label class="control-label" asp-for="Comments"></label>
<textarea class="form-control" asp-for="Comments"></textarea>
<span asp-validation-for="Comments"></span>

<label class="control-label" asp-for="Rating"></label>
<select class="form-control" asp-for="Rating" asp-items="Model.Ratings"></select>
<span asp-validation-for="Rating"></span>

<label class="control-label" asp-for="Overview"></label>
<input class="form-control" type="text" asp-for="Overview" />
<span asp-validation-for="Overview"></span>

<label class="control-label" asp-for="TrailerUrl"></label>
<input class="form-control" type="text" asp-for="TrailerUrl" />
<span asp-validation-for="TrailerUrl"></span>

<label class="control-label" asp-for="PosterUrl"></label>
<input class="form-control" type="text" asp-for="PosterUrl" />
<span asp-validation-for="PosterUrl"></span>

<label class="control-label" asp-for="Has3D"></label>
<input type="checkbox" asp-for="Has3D" />
<br />

<label class="control-label" asp-for="Directors"></label>
<textarea class="form-control" rows="5" asp-for="Directors"></textarea>
<span asp-validation-for="Directors"></span>
<br />

<label class="control-label" asp-for="Cast"></label>
<textarea class="form-control" rows="5" asp-for="Cast"></textarea>
<span asp-validation-for="Cast"></span>
<br />

<div class="panel panel-default">
    <div class="panel-heading"><label asp-for="Genres"></label></div>
    <div class="panel-body">
        @foreach (var genre in Model.AvailableGenres)
        {
            <label class="checkbox-inline"><input type="checkbox" name="Genres" value="@genre.Value" checked="@genre.Selected"/>@genre.Text</label>
        }
    </div>
</div>
<p><input type="checkbox" asp-for="IsPrivate" /><label asp-for="IsPrivate"></label></p>