body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input,
select,
textarea {
    max-width: 100%;
}*/

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

.profilePicture{
    display:block;
    max-width: 200px;
    max-height:200px;
    padding:15px;
    width: auto;
    height: auto;
}

.film-stats{
    padding-left:25px;
}

.film-stats p{
    margin-bottom:30px;

}



/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.text-centered{
    text-align: center;
}

.image-centered{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.extra-film-info {
    background-color: black;
}

.main-film-info{
    padding-right: 15px;
}

.main-film-top-margin{
    margin-top:20px;
}

.margin-right-offset{
    margin-right:15px;
}

.cast-display{
    padding-left:0;
}

.poster{
    padding-left:0px;
}

.main-film-info h2{
    color: ghostwhite;
}

.film-stats h4{
    color:ghostwhite;
}

.extra-film-info hr{
    border-top:2px solid white;
}

.film-stats ul{
    padding-left:20px;
}

.carousel-poster{
    height: 450px;
}

.carousel-poster > .carousel-inner > .item > img{
    height: 450px;
    width: auto;
}

.main-index-list {
    padding-left:30px;
    padding-top:30px;
}

.main-index-list ul{
    padding-left: 20px;
}

.main-index-list hr{
    border-top:2px solid white;
}

.movie-index-background{
    background-color:black;
    
}

.movie-index-left-background{
    background-color:#272b30;
    padding-right:30px;
}

.movie-index-left-background p{
    background-color:darkslategray;
    border-radius:5px;
    padding:10px;
    color:white;
    
}

.carousel-gap {
    margin-top:50px;
}